# systemctl --user add-wants niri.service xremap.service

[Unit]
Description=Xremap Keyboard Remapper
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
# Ensures xremap can see window focus changes in Wayland/X11 environments
Environment=DISPLAY=:0 WAYLAND_DISPLAY=wayland-0

ExecStart=/home/jblyberg/Code/bin/xremap --device "NuPhy NuPhy Air96 V2" /home/jblyberg/.config/xremap/config.yml
Restart=on-failure
RestartSec=2s
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical-session.target

