# systemctl --user add-wants niri.service xremap.service
# Check device with: ls -l /dev/input/by-id/
# Fix permissions with: sudo setfacl -m u:jblyberg:rw /dev/input/event6

[Unit]
Description=Xremap
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/home/jblyberg/Code/bin/xremap --device /dev/input/event10 /home/jblyberg/.config/xremap/config.yml
Restart=on-failure
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical-session.target
