// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://yalter.github.io/niri/Configuration:-Introduction
//
environment {
  FLAGS "-O2"
  DCAL_STRICT_SYNC "1"
  DCAL_AUTO_CREATE_LOCAL "0"
  XDG_CURRENT_DESKTOP "niri"
  QT_QPA_PLATFORM "wayland"
  ELECTRON_OZONE_PLATFORM_HINT "auto"
  QT_QPA_PLATFORMTHEME "gtk3"
  QT_QPA_PLATFORMTHEME_QT6 "gtk3"
  TERMINAL "ghostty"
  GOPATH "/home/jblyberg/.go/"
}

debug {
  honor-xdg-activation-with-invalid-serial
}

cursor {
    xcursor-theme "Bibata-Original-Classic"
    xcursor-size 42
}

input {
    keyboard {
      repeat-delay 200
	    repeat-rate 80

      xkb {
        options "caps:none"
      }
      numlock
    }

    touchpad {
      tap
      natural-scroll
    }

    mouse {
      natural-scroll
      accel-speed -0.9
    }

    trackpoint {}

    focus-follows-mouse max-scroll-amount="10%"
}


output "DP-1" {
    position x=0 y=0
    mode "3840x2160@240.084"
    scale 1.2
    transform "normal"
    layout {
    center-focused-column "always"
    }
}

output "DP-2" {
  // off
  mode "3840x2160@59.997"
  scale 1.2
  transform "normal"
  hot-corners { off; }
}

layout {
    gaps 10

    background-color "transparent"
    always-center-single-column


    preset-column-widths {
      proportion 0.33333
      proportion 0.5
      proportion 0.66667
      proportion 0.75
      proportion 0.9
    }

    default-column-width { proportion 0.5; }

    focus-ring {
      width 1.3
      active-color "#73daca"
      inactive-color "#505050"
    }

    border {
      off
    }

    // You can enable drop shadows for windows.
    shadow {
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }

    struts {}
}

prefer-no-csd

screenshot-path "/home/jblyberg/Pictures/Screenshots/Screenshot (linux) from %Y-%m-%d %H-%M-%S.png"

animations {
    workspace-switch {
        spring damping-ratio=0.80 stiffness=523 epsilon=0.0001
    }
    window-open {
        duration-ms 150
        curve "ease-out-expo"
    }
    window-close {
        duration-ms 150
        curve "ease-out-quad"
    }
    horizontal-view-movement {
        spring damping-ratio=0.85 stiffness=423 epsilon=0.0001
    }
    window-movement {
        spring damping-ratio=0.75 stiffness=323 epsilon=0.0001
    }
    window-resize {
        spring damping-ratio=0.85 stiffness=423 epsilon=0.0001
    }
    config-notification-open-close {
        spring damping-ratio=0.65 stiffness=923 epsilon=0.001
    }
    screenshot-ui-open {
        duration-ms 200
        curve "ease-out-quad"
    }
    overview-open-close {
        spring damping-ratio=0.85 stiffness=800 epsilon=0.0001
    }
}

gestures {
    dnd-edge-view-scroll {
        trigger-width 0
        delay-ms 100
        max-speed 1500
    }
    dnd-edge-workspace-switch {
        trigger-height 0
        delay-ms 100
        max-speed 1500
    }

}

// workspaces

workspace "chat"  { open-on-output "DP-1"; }
workspace "work"  { open-on-output "DP-1"; }
workspace "play"  { open-on-output "DP-1"; }
workspace "side-1"  { open-on-output "DP-2"; }
workspace "side-2"  { open-on-output "DP-2"; }

layer-rule {
    match namespace="^quickshell$"
    place-within-backdrop true
}

layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
}

layer-rule {
    match namespace="dms:blurwallpaper"
    place-within-backdrop true
}

// Start at login

spawn-at-startup "bash" "-c" "wl-paste --watch cliphist store &"
spawn-at-startup "bluebubbles"
spawn-at-startup "discord"
spawn-at-startup "steam"
spawn-at-startup "feishin"

spawn-sh-at-startup "firefox & sleep 2 && ghostty --title=startup-term -e tmux new-session -A -s system"
spawn-sh-at-startup "sleep 2 && niri msg action focus-workspace work"

hotkey-overlay {
    skip-at-startup
}

overview {
    workspace-shadow {
        off
    }
}

// DMS Include Configs
include "config-binds.kdl"
include "config-window-rules.kdl"
include "dms/windowrules.kdl"
