// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://yalter.github.io/niri/Configuration:-Introduction
//
environment {
  XDG_CURRENT_DESKTOP "niri"
  QT_QPA_PLATFORM "wayland"
  ELECTRON_OZONE_PLATFORM_HINT "auto"
  QT_QPA_PLATFORMTHEME "gtk3"
  QT_QPA_PLATFORMTHEME_QT6 "gtk3"
  TERMINAL "ghostty"
  GOPATH "/home/jblyberg/.go/"
}

cursor {
    xcursor-theme "capitaine-cursors"
    xcursor-size 42
}

input {
    keyboard {
      repeat-delay 200
	    repeat-rate 80

      xkb {
        // options "caps:swapescape"
      }
      numlock
    }

    touchpad {
      tap
      natural-scroll
    }

    mouse {
      natural-scroll
      accel-speed -0.9
    }

    trackpoint {}

    focus-follows-mouse max-scroll-amount="10%"
}

output "DP-1" {
    mode "2560x1600@59.860"
    scale 1
    transform "normal"
}

layout {
    gaps 10

    background-color "transparent"

    always-center-single-column

    center-focused-column "never"

    preset-column-widths {
      proportion 0.33333
      proportion 0.5
      proportion 0.66667
      proportion 0.75
      proportion 0.9
    }

    default-column-width { proportion 0.5; }

    focus-ring {
      width 2
      active-color "#ff9800"
      inactive-color "#505050"
    }

    border {
      off
    }

    // You can enable drop shadows for windows.
    shadow {
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }

    struts {}
}

prefer-no-csd

screenshot-path "/home/jblyberg/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
    workspace-switch {
        spring damping-ratio=0.80 stiffness=523 epsilon=0.0001
    }
    window-open {
        duration-ms 150
        curve "ease-out-expo"
    }
    window-close {
        duration-ms 150
        curve "ease-out-quad"
    }
    horizontal-view-movement {
        spring damping-ratio=0.85 stiffness=423 epsilon=0.0001
    }
    window-movement {
        spring damping-ratio=0.75 stiffness=323 epsilon=0.0001
    }
    window-resize {
        spring damping-ratio=0.85 stiffness=423 epsilon=0.0001
    }
    config-notification-open-close {
        spring damping-ratio=0.65 stiffness=923 epsilon=0.001
    }
    screenshot-ui-open {
        duration-ms 200
        curve "ease-out-quad"
    }
    overview-open-close {
        spring damping-ratio=0.85 stiffness=800 epsilon=0.0001
    }
}

// Start at login

// spawn-at-startup "nm-applet" "--indicator"
// spawn-at-startup "Telegram"
// spawn-at-startup "slack"
// spawn-at-startup "discord"
// spawn-at-startup "kitty"
// spawn-at-startup "firefox"
// spawn-at-startup "niri" "msg" "action" "focus-workspace" "work"
// spawn-at-startup "waybar"
// spawn-at-startup "swaybg" "-m" "fill" "-i" "/home/jblyberg/images/wallpaper/wallhaven-5ygkr1.jpg"
// spawn-at-startup "/home/jblyberg/.config/niri/random-wallpaper.sh"
// spawn-at-startup "/usr/lib/mate-polkit/polkit-mate-authentication-agent-1"

spawn-at-startup "bash" "-c" "wl-paste --watch cliphist store &"
spawn-at-startup "dms" "run"

// Application-specific window rules

window-rule {
    match app-id="Calculator"
    default-column-width {};
}

window-rule {
    match app-id="steam"
    default-column-width { proportion 0.5; }
}

window-rule {
    match app-id="firefox"
    match app-id="ghostty"
    default-column-width { proportion 0.75; }
}

window-rule {
    match title="Kando Menu"
    open-floating true
    border { off; }
    shadow { off; }
}

window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
}

window-rule {
    match app-id=r#"^gnome-control-center$"#
    match app-id=r#"^pavucontrol$"#
    match app-id=r#"^nm-connection-editor$"#
    default-column-width { proportion 0.2; }
    open-floating false
}



window-rule {
    match app-id=r#"^blueman-manager$"#
    match app-id=r#"^org\.gnome\.Nautilus$"#
    match app-id=r#"^steam$"#
    match app-id=r#"^xdg-desktop-portal$"#
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    match app-id="zoom"
    open-floating true
}


window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    match app-id="Alacritty"
    match app-id="zen"
    match app-id="com.mitchellh.ghostty"
    match app-id="kitty"
    match app-id=r#"^org\.gnome\."#
    draw-border-with-background false
}

// System-wide rules

window-rule {
    geometry-corner-radius 4
    clip-to-geometry true
}

layer-rule {
    match namespace="^quickshell$"
    place-within-backdrop true
}

layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
}

layer-rule {
    match namespace="dms:blurwallpaper"
    place-within-backdrop true
}

hotkey-overlay {
    skip-at-startup
}

// Use this to make the inactive windows slightly transparent
// window-rule {
//     match is-active=false
//     opacity 0.9
// }

overview {
    backdrop-color "#313244"
    workspace-shadow {
        off
    }
}

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    // Custom key bindings.
    Alt+Q repeat=false { close-window; }
    Alt+Shift+C repeat=false { spawn "gnome-calculator"; }
    Alt+Space hotkey-overlay-title="Application Launcher" { spawn "dms" "ipc" "call" "spotlight" "toggle"; }
    Ctrl+Alt+Delete hotkey-overlay-title="Lock Screen" { spawn "dms" "ipc" "call" "lock" "lock"; }
    Mod+Comma hotkey-overlay-title="Settings" { spawn "dms" "ipc" "call" "settings" "toggle"; }
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
    Mod+M hotkey-overlay-title="Task Manager" { spawn "dms" "ipc" "call" "processlist" "toggle"; }
    Mod+N hotkey-overlay-title="Notification Center" { spawn "dms" "ipc" "call" "notifications" "toggle"; }
    Mod+O repeat=false { toggle-overview; }
    Mod+Shift+E { quit; }
    Mod+Shift+P { power-off-monitors; }
    Mod+T hotkey-overlay-title="Open a Terminal: ghostty" { spawn "ghostty"; }
    // Mod+V hotkey-overlay-title="Clipboard Manager" { spawn "dms" "ipc" "call" "clipboard" "toggle"; }

    // Brightness and Audio

    XF86AudioRaiseVolume allow-when-locked=true { spawn "dms" "ipc" "call" "audio" "increment" "3"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "dms" "ipc" "call" "audio" "decrement" "3"; }
    XF86AudioMute allow-when-locked=true { spawn "dms" "ipc" "call" "audio" "mute"; }
    XF86AudioMicMute allow-when-locked=true { spawn "dms" "ipc" "call" "audio" "micmute"; }
    XF86MonBrightnessUp allow-when-locked=true { spawn "dms" "ipc" "call" "brightness" "increment" "5" ""; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "dms" "ipc" "call" "brightness" "decrement" "5" ""; }

    // Window focus and placement control

    Ctrl+Left  { focus-column-left; }
    Ctrl+Down  { focus-workspace-down; }
    Ctrl+Up    { focus-workspace-up; }
    Ctrl+Right { focus-column-right; }
    Ctrl+Shift+Left  { move-column-left; }
    Ctrl+Shift+Down  { move-column-to-workspace-down; }
    Ctrl+Shift+Up    { move-column-to-workspace-up; }
    Ctrl+Shift+Right { move-column-right; }
    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+Shift+Left  { focus-monitor-left; }
    Mod+Shift+Down  { focus-monitor-down; }
    Mod+Shift+Up    { focus-monitor-up; }
    Mod+Shift+Right { focus-monitor-right; }
    Mod+Shift+H     { focus-monitor-left; }
    Mod+Shift+J     { focus-monitor-down; }
    Mod+Shift+K     { focus-monitor-up; }
    Mod+Shift+L     { focus-monitor-right; }

    Mod+Ctrl+Shift+Down { move-workspace-down; }
    Mod+Ctrl+Shift+Up   { move-workspace-up; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

    Ctrl+Shift+1 { move-column-to-workspace 1; }
    Ctrl+Shift+2 { move-column-to-workspace 2; }
    Ctrl+Shift+3 { move-column-to-workspace 3; }
    Ctrl+Shift+4 { move-column-to-workspace 4; }
    Ctrl+Shift+5 { move-column-to-workspace 5; }
    Ctrl+Shift+6 { move-column-to-workspace 6; }
    Ctrl+Shift+7 { move-column-to-workspace 7; }
    Ctrl+Shift+8 { move-column-to-workspace 8; }
    Ctrl+Shift+9 { move-column-to-workspace 9; }

    Ctrl+BracketLeft  { consume-or-expel-window-left; }
    Ctrl+BracketRight { consume-or-expel-window-right; }

    // Window size control

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Ctrl+F { expand-column-to-available-width; }
    Mod+C { center-column; }
    Mod+Ctrl+C { center-visible-columns; }
    Mod+Minus { set-column-width "-5%"; }
    Mod+Equal { set-column-width "+5%"; }
    Mod+Shift+Minus { set-window-height "-5%"; }
    Mod+Shift+Equal { set-window-height "+5%"; }

    // Window mode toggles
    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }
    // Mod+W { toggle-column-tabbed-display; }

    // Screen Capture
    Print { screenshot show-pointer=false; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }
}
